{% extends 'base.html' %}
{% load static %}
{% block body %}
  


        <!-- Start Categories Banner Area -->
        <section class="categories-banner-area pt-70 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="categories-box">
                            <img src="{% static 'assets/img/banner-categories/banner-categories-img5.jpg' %}" alt="image">

                            <div class="content">
                                <h3>Drugs Collection!</h3>
                            </div>

                            <a href="/allproducts/" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="categories-box">
                                    <img src="{% static 'assets/img/banner-categories/banner-categories-img6.jpg' %}" alt="image">
        
                                    <div class="content">
                                        <h3>Trending Collections!</h3>
                                    </div>
        
                                    <a href="/allproducts/" class="link-btn"></a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="categories-box">
                                    <img src="{% static 'assets/img/banner-categories/banner-categories-img7.jpg' %}" alt="image">
        
                                    <div class="content">
                                        <h3>Sanitizer!</h3>
                                    </div>
        
                                    <a href="/allproducts/" class="link-btn"></a>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="categories-box">
                                    <img src="{% static 'assets/img/banner-categories/banner-categories-img8.jpg' %}" alt="image">
        
                                    <div class="content">
                                        <h3>Hot Products!</h3>
                                    </div>
        
                                    <a href="/allproducts/" class="link-btn"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Categories Banner Area -->

        <!-- Start Facility Area
        <section class="facility-area bg-f7f8fa pt-70 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-3 col-6">
                        <div class="single-facility-box">
                            <div class="icon">
                                <i class="flaticon-free-shipping"></i>
                            </div>
                            <h3>Free Shipping</h3>
                            <p>Free shipping world wide</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-3 col-6">
                        <div class="single-facility-box">
                            <div class="icon">
                                <i class="flaticon-headset"></i>
                            </div>
                            <h3>Support 24/7</h3>
                            <p>Contact us 24 hours a day</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-3 col-6">
                        <div class="single-facility-box">
                            <div class="icon">
                                <i class="flaticon-secure-payment"></i>
                            </div>
                            <h3>Secure Payments</h3>
                            <p>100% payment protection</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-3 col-6">
                        <div class="single-facility-box">
                            <div class="icon">
                                <i class="flaticon-return-box"></i>
                            </div>
                            <h3>Easy Return</h3>
                            <p>Simple returns policy</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Facility Area -->

        {% endblock body %}